body {
    padding: 20px;
    background-color: #aaeee0e8;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #header {
    background-color: rgb(212, 125, 17);
    height: 120px;
  }
  
  #header h1 {
    color: #00125b;
    padding: 10px 0px 0px 20px;
    text-shadow: #fff 1px 1px 3px;
    float: left;
    color: #fff;
    font-family: "Exo", sans-serif;
    font-size: 35px;
    font-weight: 200;
  }
table{
    border-collapse:collapse;
    font:normal normal 12px Verdana,Arial,Sans-Serif;
    color:#333333;
}
table th {
    background:#00BFFF;
    color:#DCDCDC;
    font-weight:bold;
    font-size:14px;
}
table th, td {
    vertical-align:top;
    padding:5px 10px;
    border:1px solid #696969;
}
table tr {
    background:#F5FFFA;
}
table tr:nth-child(even) {
    background:#F0F8FF;
}
form label {
    display: inline-block;
    width: 100px;
}
form input[type="submit"] {
    border: 1px solid #194a43;
    background-color: #197a43;
    color: #ffffff;
    font-weight: bold;
    padding: 10px 20px;
    position: relative;
}
form input[type="text"] {
    border: 1p solid #197143;
}
nav {
    display: block;
    background-color: #2b83ea;
    }
    nav a {
    padding: 15px 30px;
    display: inline-block;
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    }
    nav a.active,
    nav a:hover {
    background-color: #2b83ea;
    }
  
  .content, .sidebar, .footer{
    padding: 1em;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  
  nav li{
    list-style: none;
    padding: 1em 0;
  }
  
  nav li a {
    color: white;
    font-weight: 700;
    opacity: 0.6;
    text-decoration: none;
    transition: 0.3s;
  }
  
  nav li a:hover {
    opacity: 1;
  }
  footer ul {
    max-width: 640px;
    margin: 2em auto;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    background-color: #444;
    
    }
    
    footer ul li {
      list-style: none;
      align-self: flex-end;
    }
    
    footer ul li a{
      text-decoration: none;
      color: #c1c6ce;
    }
    
    footer ul li img {
      width: 30%;
    }
    
    footer p {
      font-size: 0.8em;
      text-align: center;
    }